<%= form_with(url: login_path, scope: :session, local: true) do |form| %>
  <div class="field">
    <div class="control">
    <%= form.label :email%> 
    <%= form.email_field :email, class: 'input'%> 
</div>
</div>

  <div class="field">
    <div class="control">
    <%= form.label :password %>
    <%= form.password_field :password, class: 'input' %>
    </div>
    </div>
    <%= form.submit "Log in", class: "button is-primary"%>
<% end %>